@charset "utf-8"
.inner{
  width: 1100px;
  margin: 0 auto;
}

.bar{
  background: #ffff;
  height: 50px;
}

.fa-3x{
  float: left;
  margin: 5px;
}

.botton1{
  float: right;
  color: #ffff;
  background: #6ba7eb;
  font-size: 16px;
  margin: 10px 10px;
  padding: 5px;
}

.botton1:hover{
  color: #333;
  transition: 0.3s;
}

.keyvisual{
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 5px;
}

.main-title{
  font-size: 65px;
  font-weight: 400;
  color: #90A6DF;
  padding-top: 400px;
}

.sub-title{
  font-size: 40px;
  font-weight: 100;
  color: #ffff;
  margin-top: 30px;
  padding-bottom: 400px;
}

.work{
  background: #e3f2fd;
}

.work--box{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.pc--img img{
  width: 250px;
  margin-top: 50px;
}

.text{
  text-align: center;
}

.work-title{
  font-size: 60px;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 20px;
}

.work--text{
  font-size: 16px;
  word-break: break-all;
  margin-top:35px;
  margin-left: 50px;
}

.skills{
  background: #ffff;
  margin-top: 50px;
  padding-bottom: 50px;
}

.skills-text{
  font-size: 60px;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.flex-item img{
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
}

.plan{
  background: #cfdde6;
  padding: 50px;
}

.plan-title{
  font-size: 60px;
  letter-spacing: 10px;
  text-align: center;
  padding-bottom: 50px;
}

.plan-table{
  font-size: 16px;
  line-height: 26px;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.plan-table th{
  background: #6ba7eb;
  padding: 10px;
  border: 2px solid #ffff;
}

.plan-table td{
  line-height: 26px;
  padding: 10px;
}

.plan-table tr{
  background: #e0efff;
}

.plan-table tr:nth-child(2n-1){
  background: #ffff;
}

.plan-table tr td{
  border: 2px solid #ffff;
}

.SNS{
  background: #e2eff8;
  padding: 200px;
}

.SNS-flex{
  display: flex;
  justify-content: center;
}

.SNSitem{
  color: #7a7f80;
  font-size: 40px;
  padding-right: 100px;
}

.footer{
  background: #cdd6dc;
  padding: 5px;
}

.copy{
  float: right;
}

@media screen and(max-width:767px) {
  .inner{
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and(max-width:767px){
  .botton1{
    float:none
  }
}

@media screen and(max-width:767px) {
  .keyvisual{
    background-image: url(../img/keyvisual/keyvisual.jpg);
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 5px;
  }
}

@media screen and(max-width:767px) {
  .main-title{
    font-size: 25px;
    font-weight: 100;
    color: #90A6DF;
    padding-top: 200px;
  }
}

@media screen and(max-width:767px) {
  .sub-title{
    font-size: 20px;
    font-weight: 50;
    color: #ffff;
    margin-top: 15px;
    padding-bottom: 200px;
  }
}

@media screen and(max-width:767px) {
  .pc--img img{
    width: 500px;
    margin-top: 50px;
    align-items: center;
  }
}

@media screen and(max-width:767px) {
  .work-title{
    display: flex;
    justify-content: center;
    font-size: 60px;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and(max-width:767px) {
  .work--text{
    font-size: 25px;
    word-break: break-all;
    margin-top:35px;
    margin-left: 50px;
  }
}

@media screen and(max-width:767px) {
  .flex-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and(max-width:767px){
  .SNS-flex{
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}